/* booking.css */
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60vh;
    margin-left: 690px;
    flex-direction: column;
}

.container {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.movie-title {
    font-size: 24px;
    margin: 0;
}

.date-time {
    font-size: 18px;
    margin-top: 10px;
}

.movie-image {
    margin-top: 20px;
}

/* Style the movie image */
.movie {
    max-width: 200px; /* Adjust the max-width as needed */
    display: block;
    margin: 0 auto; /* Center horizontally */
}

.choose-seat-text {
    font-size: 18px;
}

.cinema {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Gap between rows */
}

.row {
    display: flex;
    align-items: center;
    gap: 10px; /* Gap between seats */
}

.seat {
    width: 30px; /* Adjust the seat width as needed */
    height: 30px; /* Adjust the seat height as needed */
    background-image: url('../image/booking/seat.png');
    background-size: contain;
    background-repeat: no-repeat;
}

