body {
    background-image: url("../image/cinema.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.input-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: 100px;
    margin: 10px;
    text-align: center;
}

.border {
    background-image: url("../image/logo.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    border: 2px solid #FFE296;
    width: 20%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.login {
    margin-top: 30%;
}

.input-container {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

input[type="text"]
input[type="password"] {
    width: 100px;
    padding: 5px;
    border: none;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FFE296;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
button:hover{
    background-color: #005FAB;
}

