body {
    background-image: url("../image/cinema.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.border {
    background: url("../image/logo.png") no-repeat top center;
    background-size: contain;
    border: 2px solid #FFE296;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Arrange the children elements in a column */
    align-items: center;
    min-height: 40vh; /* Adjust the height as needed */
}

.text-container {
    margin-top: 20px; /* Add space between the logo and the text */
    text-align: center;
    width: 100%; /* Make the text container full width */
}

.link-text {
    font-family: "Montserrat", sans-serif;
    color: #FFE296;
    cursor: pointer;
    text-decoration: underline;
}

.link-text:hover {
    text-decoration: none;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    margin-top: 20%;
    padding-top: 10%;
    text-align: center;
}

.input-container {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

input[type="text"],
input[type="password"] {
    width: 100px;
    padding: 5px;
    border: none;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FFE296;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005FAB;
}
