body {
    background-color: #4B4B4B;
    font-family: "Montserrat Alternates", sans-serif;
    color: #F5F5F5;
}

.frameTop {
    background: url("../../image/logo.png") center center no-repeat;
    background-size: 15% auto;
    width: 95%;
    height: 8rem;
    border: 8px solid #ffe296;
    position: relative;
    top: 10%;
    left: 2%;
}

.purpleMenu {
    width: 95.95%;
    height: 4rem;
    background-color: #b483cb;
    position: relative;
    left: 2%;
    z-index: 20;
}

.back-button {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 150%;
    color: #FFFFFF;
    position: absolute;
    left: 4%;
    transform: translate(-60%, -35%);
    padding: 5%;
    background-color: transparent;
    border: none;
}

.login-button {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 150%;
    color: #FFFFFF;
    position: absolute;
    left: 10%;
    transform: translate(-60%, -35%);
    padding: 5%;
    background-color: transparent;
    border: none;

}

.login-button:hover, .back-button:hover {
    color: #4B4B4B;
}