
body {
    background-color: #4B4B4B!important;
}

/* Styles for the logo */
.frameTop {
    background: url("../images/logo.png") center center no-repeat;
    background-size: 300px 150px;
    width: 100%;
    height: 100px;
    border: 8px solid #ffe296;
    position: relative;
}

/* Styles for the purple menu bar */
.purpleMenu {
    width: 100%;
    height: 3rem;
    background-color: #b483cb;
    position: relative;
    z-index: 1;
    margin-bottom: 1%;
}
.search-button{
    position: absolute;
    top: 8.1%;
    left: 79%;
    width: 20%;
    z-index: 2;
}
.btn-outline-secondary {
    background: #ffe296;
    left: 5%;
}

/* Styles for the date buttons */
.dateButton {
    padding: 5px 10px;
    margin-right: 20px;
    width: 8%;
    height: 120px;
    border: 5px solid #ffe296;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
}
/* Styles for movie poster images */
.movie-poster {
    width: 300px;
    height: 400px;
}

/* Styles for movie lists */
.movieList {
    position: absolute;
    margin-top: 10rem;
    display: flex;
    flex-direction: column; /* Change to a column layout */
    align-items: center; /* Center align movie cards */
}

/* Styles for movie titles */
.movie-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
}

/* Styles for time buttons */
.time-button {
    text-align: center;
    border: 5px solid #ffe296;
    background: #ffe296;
    color: black;
    padding: 10px 20px; /* Increase padding for better spacing */ !important;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    display: inline-block; /* ShowTimes buttons are inline blocks */
}


.time-button:hover {
    cursor: pointer;
}

.showtimes-container {
    display: flex;
    flex-wrap: wrap; /* Allow showTimes buttons to wrap to the next line if necessary */
    justify-content: center; /* Center align showTimes buttons */
    width: 100%; /* Occupy the full width of the container */

}
/* Styles for the popup container */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Styles for the popup content */
.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Style for the close button */
#closePopup {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

