
body {
    background-color: #4B4B4B;
}


.btn{
    border: 5px #ffe296;
    padding: 14px 28px;
    font-size: 20px;
    font-family: "Montserrat Alternates";
}


.login-button {

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    position: absolute;
    top: 1px;
    left: 70px;
    /*transform: translate(-50%, -50%); */
    padding: 10px;
    background-color: transparent;
    border: none;
}

.login-button:hover{
    color: #4B4B4B;
}

.search-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 21%;
    right: 20px;
    transform: translateY(-50%);
}

.search-bar {
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 30px 30px 30px 30px;
}

.search-button {
    padding: 8px;
    background-color: #ffe296;
    color: #fff;
    border: 1px solid #b483cb;
    cursor: pointer;
}

/* Button time1 */
.button-time1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #FFFFFF;
    background-color: transparent;
    font-family: "Montserrat Alternates", serif;
    font-size: 20px;
    padding: 10px;
    gap: 10px;
    isolation: isolate;
    position: absolute;
    width: 313px;
    height: 39px;
    left: 14px;
    top: 927px;
    border: 5px solid #A00E0E;
    justify-content: center;

    /* Inside auto layout */
    flex: none;
    order: 16;
    flex-grow: 0;
    z-index: 16;
}

.frameTop {
    background: url("images/logo.png") center center no-repeat;
    background-size: 300px 150px;
    width: 97rem;
    height: 100px;
    border: 8px solid #ffe296;
    position: relative;
    top: 20px;
    left: 20px;
}

.purpleMenu {
    width: 98rem;
    height: 40px;
    background-color: #b483cb;
    position: relative;
    top: 35px;
    left: 20px;
}

.dateButton {
    width: 120px;
    height: 120px;
    border: 5px solid #ffe296;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 220px;
}

.dateButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 220px;
}

.dateButton1{
    margin-left: 35px;
}

.dateButton2{
    margin-left: 35px;
}

.dateButton3{
    margin-left: 35px;
}

.dateButton4{
    margin-left: 35px;
}

.dateButton5{
    margin-right: 35px;
}

.dateButton6{
    margin-right: 35px;
}

.dateButton7{
    margin-left: 50px;
}


.movieList{
    position: absolute;
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
}



.dateButton:hover {
    background-color: #ffe296;
    color: #FFFFFF;
    border: 5px solid #FFFFFF;
}


.movie-card {
    display: inline-block; /* Vis filmkortene ved siden af hinanden */
    margin: 10px; /* Tilføj lidt afstand mellem kortene */
    max-width: 400px; /* Indstil den maksimale bredde for filmkortet */
    text-align: center; /* Centrer indholdet af kortet */
}

/* CSS-regler for movie-poster billederne */
.movie-poster {
    max-width: 100%; /* Skaleres billedet for at passe inden for kortets bredde */
    height: auto;/* Bevar billedets proportioner */

}

.movie-headline{
    color: #FFFFFF;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
}







