body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60vh;
    margin-left: 50%;
    flex-direction: column;
    background-color: #4B4B4B;
    overflow-x: hidden;
}

.top-banner {
    position: relative;
    background-size: 300px 150px;
    width: 97rem;
    height: 100px;
    border: 8px solid #FFE296;
    top: -35%;
    left: -100%;
}

.logo {
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.purpleMenu {
    position: relative;
    width: 98rem;
    height: 40px;
    background-color: #B483CB;
    top: 120%;
    left: -0.5%;
}

.login-button {
    position: relative;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: transparent;
    border: none;
}

.login-button:hover {
    color: #FFE296;
}

.container {
    position: absolute;
    background-color: #4B4B4B;
    text-align: center;
    right: 60%;
    top: 30%;
}

.movie-title {
    font-family: 'Montserrat', extrabold, sans-serif;
    font-size: 24px;
    margin: 0;
}

.date-time {
    font-family: 'Montserrat', alter, sans-serif;
    font-size: 18px;
    margin-top: 1%;
}

.movie-image {
    margin-top: 1%;
}

.movie {
    max-width: 40%;
    display: block;
    margin: 0 auto;
}

.cinema {
    position: absolute;
    display: flex;
    top: 30%;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    gap: 2%;
}

.fa-square {
    color: transparent;
    outline: 2px solid #FFE296;
    margin: 1%;
}

/* on click color change */
.changeColorOnClick {
    color: #FFE296;
    background-color: #FFE296;
    outline: 2px solid #F5F5F5;
    cursor: pointer;
}

