body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60vh;
    margin-left: 50%;
    flex-direction: column;
    background-color: #4B4B4B;
}

.container {
    position: absolute;
    background-color: #4B4B4B;
    text-align: center;
    right: 60%;
    top: 10%;
}

.movie-title {
    font-family: 'Montserrat', extrabold, sans-serif;
    font-size: 24px;
    margin: 0;
}

.date-time {
    font-family: 'Montserrat', alter, sans-serif;
    font-size: 18px;
    margin-top: 1%;
}

.movie-image {
    margin-top: 1%;
}

.movie {
    max-width: 40%;
    display: block;
    margin: 0 auto;
}

.choose-seat-text {
    font-size: 18px;
}

.cinema {
    position: absolute;
    display: flex;
    top: 10%;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    gap: 2%;
}

.fa-square {
    color: transparent;
    outline: 2px solid #FFE296;
    margin: 1%;
}

.blue {
    color: #FFE296;
    background-color: #FFE296;
    outline: 2px solid #F5F5F5;
    cursor: pointer;
}

