<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="../ressources/static/css/dropdown.css">
</head>
<body>
<div class="frameTop">
</div>
<div class="purpleMenu">
    <button class="back-button" onclick="window.location.href='adminMainPage.html'"><-</button>
    <button class="login-button">Login</button>
</div>
<div class="drop-text">
<h1>About Us</h1>

<p>Welcome to our movie company! We are passionate about creating imaginative and fictional films that transport audiences to fantastical worlds, introduce them to captivating characters, and deliver extraordinary storytelling.</p>

<p>Our team of dedicated creatives, including writers, directors, actors, and production experts, work tirelessly to bring our fictional narratives to life on the big screen. We believe that storytelling is a powerful way to inspire, entertain, and provoke thought.</p>

<p>Founded on a love for creativity and innovation, our company is committed to exploring new horizons in the world of cinema, pushing the boundaries of what's possible, and making dreams come true.</p>

<p>Thank you for joining us on this cinematic journey, and we look forward to sharing our imaginative creations with you.</p>
</div>
</body>
</html>