<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ticket Booking</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.0/css/all.css">
    <link rel="stylesheet" href="../ressources/static/css/booking.css">
    <link rel="stylesheet" href="../ressources/static/css/navbar.css">
</head>
<body>
    <div class="frameTop">
    </div>
    <nav class="navbar purpleMenu">
        <div id="menuToggle">

            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <a href="login.html"> <li>Login /Sign Up</li></a>
                <a href="index.html"><li>Home</li></a>
                <a href="about.html"><li>About</li></a>
                <a href="#"><li>Info</li></a>
                <a href="#"><li>Contact</li></a>
            </ul>
        </div>
    </nav>
    <div class="movieInfo">
        <div class="top-title">
            <h1 class="movie-title">
                AMERICAN GANGSTER
            </h1>
            <h1 class="date-time">
            </h1>
        </div>
        <div class="movie-image">
            <img class="movie" id="movie-poster" src="" alt="Movie Poster">
        </div>
    </div>


    <div class="cinema">
        <div class="ticketAmount">
            <label id="amountLabel" for="amount">How many tickets?</label>
            <input type="number" id="amount" min="0" value="0" readonly>
            <button class="buy" id="buy-tickets" type="submit">Buy tickets</button>
        </div>
        <div class="row">
            <div id="seat-container"></div>
        </div>
    </div>
    <div class="confirm-container">
        <button class="confirm-button" onclick="window.location.href='index.html'">Ok</button>
    </div>
    <script src="../ressources/static/javascript/login.js"></script>
    <script src="../ressources/static/javascript/booking.js">
      window.onload = pageLoad();
    </script>
</body>
</html>