<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../ressources/static/css/index.css">
    <link rel="stylesheet" href="../ressources/static/css/navbar.css">
    <title>Akira Kino</title>
</head>
<body>
<div class="frameTop">
</div>
<nav class="navbar purpleMenu">
        <div id="menuToggle">

            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <a href="#"><li>Home</li></a>
                <a href="#"><li>About</li></a>
                <a href="#"><li>Info</li></a>
                <a href="#"><li>Contact</li></a>
            </ul>
        </div>
</nav>
<div class="search-button">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" id="search" class="form-control" placeholder="Søg..." aria-label="Search..."
                       aria-describedby="search-button">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="search-button">Søg</button>
                </div>
            </div>
            <ul id="suggestions" class="suggestion-list"></ul>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="btn-group" id="dateButtonContainer" role="group" aria-label="Date Buttons">
                <!-- Date buttons will be dynamically added here -->
            </div>
        </div>
    </div>
</div>
<div id="popupContainer" class="popup-container">
    <div class="popup-content">
        <span id="popupMessage">No movies are showing on this date.</span>
        <button id="closePopup">Close</button>
    </div>
</div>
<div class="container mt-4">
    <div class="row" id="movieList">
        <!-- Movie cards will be dynamically added here -->
    </div>
</div>
<!-- Bootstrap JavaScript and your custom JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../ressources/static/javascript/indexScript.js"></script>
</body>
</html>
