<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login In page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"> <!-- linke to the CSS file -->

</head>
<body>
<div class="border">
<div class="login-container"></div>
<form id="loginForm">
    <div class="login">
    <div class="input-container">
        <label for="email"></label>
        <input type="text" id="email" placeholder="Email" required>
    </div>
    <div class="input-container">
        <label for="password"></label>
        <input type="password" id="password" placeholder="password" required>
    </div>
    <button id="btn-save"type="submit">Log In</button>
    </div>
</form>
</div>
<script src="../javascript/login.js"></script>
</body>
</html>